
.DS_Store
Thumbs.db

.idea/
.vscode/
*.iml
*.ipr
*.iws

mysql-tunnel.cmd

*.log
logs/
**/uploads/

.env
.env.*
*.local

**/target/
**/.flattened-pom.xml


**/*.class

**/node_modules/
**/dist/
**/.vite/
**/coverage/


*.tmp
*.temp
/backend/src/main/resources/application-dev.yml
